<app-buscar (searchEvent)="onSearch($event)"></app-buscar>
<div class="profiles-container">
  <h2><span>RESULTADOS</span></h2>
  <div class="profiles">
    <div class="profile" *ngFor="let profile of filteredProfiles">
      <img src="assets/img/userIcon.png" alt="Foto de perfil de {{ profile.name }}" />
      <h3>{{ profile.name }}</h3>
      <p>{{ profile.jobTitle }}</p>
      <p>{{ profile.location }}</p>
      <button (click)="openProfilePopup(profile)">Ver Perfil</button>
    </div>
  </div>
</div>

<app-perfil-popup 
  *ngIf="selectedProfile" 
  [profile]="selectedProfile" 
  (close)="closeProfilePopup()">
</app-perfil-popup>
